@{
    ViewData["Title"] = "查看学生信息";
    ViewData["Ref"] = "managers";
}

<ol class="breadcrumb">
    <li><a href="/Manager">主页</a><span style="padding:5px">/</span></li>
    <li class="active">查看学生信息</li>
</ol>
<table class="table myTable">
    <thead>
        <tr>
            <th class="col">学号</th>
            <th class="col">姓名</th>
            <th class="col">性别</th>
            <th class="col">学院</th>
            <th class="col">年级</th>
            <th class="col">班级</th>
            <th class="col">宿舍楼</th>
            <th class="col">房间号</th>
            <th class="col">门禁</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in ViewBag.Students)
        {
            <tr>
                <th class="row">@student["id"]</th>
                <td>@student["name"]</td>
                <td>@student["sex"]</td>
                <td>@student["college"]</td>
                <td>@student["stage"]</td>
                <td>@student["class"]</td>
                <td>@student["building"]</td>
                <td>@student["room"]</td>
                <td>@student["authority"]</td>
            </tr>
        }
    </tbody>
</table>
